<%layout('layout/boilerplate')  %>
<section id="order">
<div class="container-fluid">
    <div class="row">
        <%- include('../partial/dashboard-navbar.ejs') %> 
        <div class="col-md-8">
            <div class="order-heading">
                <p>All Completed Orders</p>
            </div>
            <div class="all-order">
                <div class="product-summary">
                    <div class="product-img">
                        <img class="img-fluid" src="https://img.freepik.com/free-photo/close-up-woman-covering-herself-with-blanket_23-2149172488.jpg?w=740&t=st=1673622422~exp=1673623022~hmac=0a95061cd6d07024ebd3088520ca3b5e1c32bbca1fea90b2c4f1c306939186e4" alt="All-order-photo">
                    </div>
                    <div class="product-info">
                        <p>Close up woman covering herself with blanket</p>
                        <p>
                            <label for="">ordered by:</label>Hasan Dipu
                        </p>
                        <p>
                            <label for="">Delivery Address:</label>26/1-cha Hazaribag Dhaka
                        </p>
                    </div>
                    <div class="action-button">
                        <a href="/order/details">See Order Info</a>
                    </div>
                </div>   
            </div>
            <hr>
            <div class="all-order">
                <div class="product-summary">
                    <div class="product-img">
                        <img class="img-fluid" src="https://img.freepik.com/free-photo/close-up-woman-covering-herself-with-blanket_23-2149172488.jpg?w=740&t=st=1673622422~exp=1673623022~hmac=0a95061cd6d07024ebd3088520ca3b5e1c32bbca1fea90b2c4f1c306939186e4" alt="All-order-photo">
                    </div>
                    <div class="product-info">
                        <p>Close up woman covering herself with blanket</p>
                        <p>
                            <label for="">ordered by:</label>Hasan Dipu
                        </p>
                        <p>
                            <label for="">Delivery Address:</label>26/1-cha Hazaribag Dhaka
                        </p>
                    </div>
                    <div class="action-button">
                        <a href="/order/details">See Order Info</a>
                    </div>
                </div>   
            </div>
            <hr>
        </div>
    </div>
</div> 
</section>