<% layout('layout/boilerplate.ejs') %>  


<div class="conatiner-fluid">
    <div class="row g-5">
        <%- include('../partial/dashboard-navbar.ejs')  %> 
        <div class="col-md-8">
        <div class="dashboard-form">
            <form action="/product/<%=  activeUser._id %>/add " method="POST">
                <div class="product-img">
                    <label for="image">Enter Your URL Of Image</label>
                    <input type="text" name="productImage">
                </div>
                <div class="product-name">
                    <label for="productname">Enter The Product Name: </label>
                    <input type="text" name="productName" id="productname">
                </div>
                <div class="product-describe">
                    <label for="productdescribe">Tell Something About Your Product:</label>
                    <textarea name="productDescription" id="productdescribe"  rows="5"></textarea>
                </div>
                <div class="product-price">
                    <label for="productprice">
                        Enter The Price:
                    </label>
                    <input type="Number" name="productPrice" id="productprice">
                </div>
                <div class="product-availity">
                    <label for="available">Is Available</label>
                    <select name="productAvaility" id="available">
                        <option value="">Select One</option>
                        <option value="In Stock">In Stock</option>
                        <option value="Out Of Stock">Out Of Stock</option>
                    </select>
                </div>
                <div class="product-size">
                    <label for="size">
                        Select The Size:
                    </label>
                    <input type="text" name="productSize" id="size">
                </div>
                <div class="form-button">
                    <button>
                        Post Your Product
                    </button>
                </div>
            </div>
            </form>
        </div>
    </div>
</div>
 
