<% layout('layout/boilerplate') %>
<section id="order-details">
<div class="container-fluid">
    <div class="row">
        <%- include('../partial/dashboard-navbar.ejs')  %> 
        <div class="col-md-8">
            <div class="main-order">
                <div class="order-receive">
                    <div class="order-heading">
                        <p>
                        Order Just Arrived For Confirmation
                        </p>
                    </div>
                    <div class="order-content">
                        <div class="product-image">
                            <img class="img-fluid" src="https://img.freepik.com/free-photo/close-up-woman-covering-herself-with-blanket_23-2149172488.jpg?w=740&t=st=1673618965~exp=1673619565~hmac=c2edbc0a99f130b8cb7bb4a3bf4a1526bbc38b85dc8531eb6f098314c86ca447" alt="cart-added-image">
                        </div>
                        <div class="product-info">
                            <p>
                            <span>Product Name</span>
                        </p>
                            <p><label for=""> Ordered By:</label> HAsan dipu</p>
                            <p><label for=""> Total Quantity:</label> 5</p>
                            <p><label for=""> Price:</label>2000</p>
                            <p><label for="">
                                Delivery Address:</label> 26/1-c monesshar 1st lane hazaribag dhaka</p>
                            <p><label for="">
                                Contact No:</label>01711009067</p>

                        </div>
                        <div class="action-button">
                            <form action="">
                                <button>Confirm Order</button>
                            </form>
                            <form action="">
                                <button>Decline Order</button>
                            </form>
                            
                        </div>
                    </div>
                    <p>
                        <a href="">see the actual product</a>
                    </p>
                </div>
            </div>
        </div>
        
    </div>
</div> 
</section>