<% layout('./layout/boilerplate') %>
<section id="auth">
    <div class="container-fluid">
       <div class="row">
        <div class="col-lg-6 gx-5 gy-2">
            
            <div class="sign-in">
                <div class="sign-in-header">
                    <p>
                        Sign-in
                    </p>
                    <small>
                       <p>To Your Account
                        </p>
                    </small>
                </div>
            <div class="sign-in-form">
                <form action="" method="POST">
                    <div class="form-decor">
                        <label for="username"> 
                            <p>
                                Phone Number/E-mail:
                            </p>
                        </label>
                        <input type="text"id="username">
                    </div>
                    <div class="form-decor">
                        <label for="password"> 
                            <p>
                               Password:
                            </p>
                        </label>
                        <input type="text"id="password">
                    </div>
                    <div class="sign-in-button">
                        <button>Sign in</button>
                    </div>
                </form>
                
            </div>
            <a href=""class="password-recovary">Forgot Password</a>
            </div>
        </div>
    
        <div class="col-lg-6 gx-5 gy-2">
            <div class="sign-in">
                <div class="sign-in-header">
                    <p>
                        Sign-Up
                    </p>
                    <small>
                       <p>Create An Account
                        </p>
                    </small>
                </div>
            <div class="sign-in-form">
                <form action="" method="POST">
                    <div class="form-decor">
                        <label for="username"> 
                            <p>
                                Name:
                            </p>
                        </label>
                        <input type="text"id="username">
                    </div>
                    <div class="form-decor">
                        <label for="username"> 
                            <p>
                                E-mail:
                            </p>
                        </label>
                        <input type="text"id="username">
                    </div>
                    <div class="form-decor">
                        <label for="username"> 
                            <p>
                                Contact:
                            </p>
                        </label>
                        <input type="text"id="username">
                    </div>
                    <div class="form-decor">
                        <label for="username"> 
                            <p>
                                Password:
                            </p>
                        </label>
                        <input type="text"id="username">
                    </div>
                    <div class="form-decor">
                        <label for="password"> 
                            <p>
                               Confirm Password:
                            </p>
                        </label>
                        <input type="text"id="password">
                    </div>
                    <div class="sign-in-button">
                        <button>Create Account</button>
                    </div>
                </form>
            </div>
            </div>
        </div>
        
       </div>
    </div>
</section>