<div class="col-md-4">
    <div class="dashboard-menu">
    <div class="side-nav">
             
        <!-- Main menu Html -->
        <div class="toggle-button d-md-none">
            <button id="toggle-icon" class="toggle-icon ">
                <i class="fa-solid fa-bars"></i>
            </button>
        </div>
        <div id="side-main-menu" class="side-nav-menu">
            <a class="nav-link" href="/">Back To Home</a>
            <a class="nav-link" href="/user/<%= activeUser.username  %> ">View Your Profile</a>
           <a class="nav-link" href="/product/dashboard">Upload Your Product</a>
           <a class="nav-link" href="/auth/authmaker">Create New Author</a>
           <a class="nav-link" href="/product/unlisted">Unlisted/Out Of Stock Product</a>
           <a class="nav-link" href="/order">Order-Sell-Summary</a>
           <a class="nav-link" href="/order/confirm">Completed Order Summary</a>
           <a class="nav-link" href="/auth/logout">Log-Out</a>
        </div>
    </div>
    </div>
</div>