<section id="footer">
    <footer>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4">
                    <div class="footer-1">
                        <div class="content">
                            <div class="logo">
                                <h4>
                                   LetWear

                                </h4>
                            </div>
                            <p>
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Unde suscipit nobis eveniet rem quis consequuntur maiores sit, quae minus, obcaecati odio! Eius, minus. Eum, incidunt!
                            </p>
                            <p>
                                (+800) 1234 5678 90 – info@example.com
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="footer-2">
                        <div class="content-header">
                        <b>Information</b>
                    </div>
                    <div class="footer-2-content">
                        <ul>
                            <li>
                                <a href="#">About</a>
                            </li>
                            <li>
                                <a href="#">Privacy Policy</a>
                            </li>
                            <li>
                                <a href="#">Return Policy</a>
                            </li>
                            <li>
                                <a href="#">Shipping Policy</a>
                            </li>
                            <li>
                                <a href="#">Drop Shipping</a>
                            </li>
                        </ul>
                    </div>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="footer-2">
                        <div class="content-header">
                        <b>Account</b>
                    </div>
                    <div class="footer-2-content">
                        <ul>
                            <li>
                                <a href="#">Dashboard</a>
                            </li>
                            <li>
                                <a href="#">My Orders</a>
                            </li>
                            <li>
                                <a href="#">My Wishlist</a>
                            </li>
                            <li>
                                <a href="#">Account details</a>
                            </li>
                            <li>
                                <a href="#">Track My Order</a>
                            </li>
                        </ul>
                    </div>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="footer-2">
                        <div class="content-header">
                        <b>Shop</b>
                    </div>
                    <div class="footer-2-content">
                        <ul>
                            <li>
                                <a href="#">Affiliate</a>
                            </li>
                            <li>
                                <a href="#">BestSellers</a>
                            </li>
                            <li>
                                <a href="#">Discount</a>
                            </li>
                            <li>
                                <a href="#">Letest Products</a>
                            </li>
                            <li>
                                <a href="#">Sell Products</a>
                            </li>
                        </ul>
                    </div>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="footer-2">
                        <div class="content-header">
                        <b>Catagories</b>
                    </div>
                    <div class="footer-2-content">
                        <ul>
                            <li>
                                <a href="#">Shoes</a>
                            </li>
                            <li>
                                <a href="#">Belts</a>
                            </li>
                            <li>
                                <a href="#">Jackets</a>
                            </li>
                            <li>
                                <a href="#">Bags</a>
                            </li>
                            <li>
                                <a href="#">Gloves</a>
                            </li>
                        </ul>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- footer content ends -->
        <!-- sub footer start -->
        <div class="sub-footer">
            <div class="container">
                <div class="row">
                    <div class="col-6 offset-3">
                        <p>Copyright 2022 © All right reserved. Powered by LetWear.</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</section>