<section class="top-search-logo">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="banner-logo-search">
                <div class="logo">
                    <a href="/">
                        <h4>
                           LetWear
                            <sub>
                               Walk Comfortabely
                             </sub>
                        </h4>
                    </a>
                    </div>
                   
    
    <!-- Search Bar part Html -->
                    <div class="search-bar">
                        <form action="/product/product-showcase?query=" method="POST">
                            <input class="form-control"type="text" name="search" placeholder="Search Here">
                            <span class=" search-button material-symbols-outlined">
                                <button class="btn"> search </button>
                                </span>
                           
                        </form>
                        </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </section>