<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title  %> 
    </title>
    <!-- iccon link -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

    <!-- font link -->
    <link href="https://fonts.cdnfonts.com/css/futura-md-bt" rel="stylesheet">

    <!-- bootstrap  link -->
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <!-- app style link -->
    <link rel="stylesheet" href="/css/app.css" 
    type="text/css">
    <link rel="stylesheet" href="/css/lightslider.css" type="text/css">

</head>
<body>
    <%- include('../partial/flash.ejs')  %> 
     
<section id="user-edit">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="user-edit-heading">
                    <p>Edit Your Information</p>
                </div>
                <div class="user-edit-form">
                    <form action="/user/setprofile/<%= findUser._id %>" method="POST">
                        <div class="profile-img">
                                <img class="img-fluid" src="https://img.freepik.com/premium-psd/character-avatar-3d-illustration_460336-702.jpg?w=740" alt="profile-image" title="Profile picture of <%= findUser.username  %> ">
                                <div>


                            <!-- <input type="file" name="profilePic" > -->
                            <!-- <br> -->
                            <input type="text" name="profilePic"
                            >
                            
                        </div>
                        <div class="address">
                            <label for="address">Set Your Address:</label>  
                            <input type="text" name="address"> 
                        </div>
                        <div class="action-button">
                            <button>
                                Save Changes
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>  



<!-- main javascript file -->
<script>
      
    const selectCross = document.querySelector('#cross-mark');
    const selectPopup = document.querySelector('.popup');
    selectCross.addEventListener('click', () => {
        selectPopup.classList.toggle('popup');
        selectPopup.classList.toggle('cross-sign');
    })
    
    
        </script>
<script src="/js/jquery-3.6.1.min.js"></script>
<script src="/js/lightslider.js"></script>

<script src="/js/app.js"></script>
<!-- bootstrap setup -->
<script src="/js/bootstrap.min.js"></script>

<script src="/js/bootstrap.js"></script>
</body>
</html>