
<section id="nav-part">
      <div class="container-fluid">
          <div class="row">
              <div class="col-8">
                  <div class="main-nav">
                     
                      <!-- Main menu Html -->
                      <div class="toggle-button d-md-none">
                          <button id="toggle-icon" class="toggle-icon ">
                              <i class="fa-solid fa-bars"></i>
                          </button>
                      </div>
                      <div id="main-menu" class="menu">
                          <a class="nav-link" href="/">home</a>
                         <a class="nav-link" href="">about</a>
                         <a class="nav-link" href="/product/product-showcase">shoes</a>
                         <a class="nav-link" href="/product/product-showcase">bags</a>
                         <a class="nav-link" href="/product/product-showcase">belt</a>
                      </div>
  
                  </div>
              </div>
              <div class="col-4">
                  <div class="add-to-cart-sign">
                      <div class="cart-setup">
                        
                                  <a href="/product/checkout" class="add-cart">
                                    <i class="cart-button fa-solid fa-cart-shopping"></i>
                                  </a>
                                  <a href="/product/wishlist" class="add-cart">
                                    <i class="cart-button fa-regular fa-heart"></i>
                                  </a>
                                  <a href="/auth" class="add-cart">
                                    <i class="cart-button fa-sharp fa-regular fa-user"></i>
                                  </a>
                                  
                                  
                      </div>
                      
                  </div>
              </div>
          </div>
      </div>
  </section>




