
<section id="nav-part">
      <div class="container">
          <div class="row">
              <div class="col-8">
                  <div class="main-nav">
                     
                      <!-- Main menu Html -->
                      <div class="toggle-button d-md-none">
                          <button id="toggle-icon" class="toggle-icon ">
                              <i class="fa-solid fa-bars"></i>
                          </button>
                      </div>
                      <div id="main-menu" class="menu">
                          <a class="nav-link" href="/">home</a>
                         <a class="nav-link" href="">about</a>
                         <a class="nav-link" href="/product/product-showcase">shoes</a>
                         <a class="nav-link" href="/product/product-showcase">bags</a>
                         <a class="nav-link" href="/product/product-showcase">belt</a>
                      </div>
  
                  </div>
              </div>
              <div class="col-4">
                  <div class="add-to-cart-sign">
                      <div class="cart-setup">
                        
                                  
                                  <% if(!activeUser){ %> 
                                  <a href="/auth" class="add-cart">
                                    <i class="cart-button fa-sharp fa-regular fa-user"></i>
                                  </a>
                                  <% }else{ %>
                                    <div class="profile-intro">
                                        <a href="/product/checkout" class="add-cart">
                                            <i class="cart-button fa-solid fa-cart-shopping"></i>
                                          </a>
                                          <a href="/product/wishlist/<%= activeUser._id  %> " class="add-cart">
                                            <i class="cart-button fa-regular fa-heart"></i>
                                          </a>
                                        <img class="img-fluid" id="profile-image" src="/images/banner/banner-1.jpg" alt="profile-image">
                                        
                                    </div>

                                    <div id="drop-menu" class="menu-dropdown-show">
                                        <p>
                                            <%= activeUser.username  %> 
                                        </p>
                                      
                                        <a href="/product/dashboard">Profile</a>
                                        <a href="">Purchasing History</a>
                                        <a href="/auth/logout" class="add-cart">
                                            <i class="cart-button  fa-solid  fa-arrow-right-from-bracket"></i>
                                          </a>
                                    </div>
                                  
                                  <% } %> 
                                  
                                  
                      </div>
                      
                  </div>
              </div>
          </div>
      </div>
  </section>




