<section id="product">
    <div class="product-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
              <div class="section-title">
                <h4>
                  <span>
                    <p>Explore Our,</p>
                  </span> Products
                </h4>
              </div>
            </div>
        </div>
    </div>
</div>
    <div class="product-content-first">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="product-main-first-content">
                        <img src="/images/product/product-1.jpg" alt="product-1" class="img-fluid">
                        <div class="product-inner-content col-lg-4 offset-lg-4">
                            <h1>
                               Our Luxurious Bags
                            </h1>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam commodi quod id ipsam esse dolorum, voluptatum earum aut tempora, blanditiis culpa et suscipit? Sunt nemo minus voluptas! Magnam, quidem atque.
                            </p>
                            <a href="">
                                Show More
                                <span class="material-symbols-outlined">
                                    arrow_right_alt
                                    </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- product Content-first one finish here -->

    <!-- product content second portion starts -->
    <div class="product-content-second">
        <div class="container-fluid g-0">
            <div class="row g-0">
                <div class="col-lg-6">
                    <div class="product-main-second-content">
                        <img src="/images/product/product-2.jpg" alt="product-2" class="img-fluid">
                        <div class="product-inner-content col-lg-12 offset-lg-12">
                            <h1>
                               Our Luxurious Shoes
                            </h1>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam commodi quod id ipsam esse dolorum, voluptatum earum aut tempora, blanditiis culpa et suscipit? Sunt nemo minus voluptas! Magnam, quidem atque.
                            </p>
                            <a href="">
                                Show More
                                <span class="material-symbols-outlined">
                                    arrow_right_alt
                                    </span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="product-main-second-content">
                        <img src="/images/product/product-3.jpg" alt="product-2" class="img-fluid">
                        <div class="product-inner-content col-lg-12 offset-lg-12">
                            <h1>
                               Our Luxurious Closets
                            </h1>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam commodi quod id ipsam esse dolorum, voluptatum earum aut tempora, blanditiis culpa et suscipit? Sunt nemo minus voluptas! Magnam, quidem atque.
                            </p>
                            <a href="">
                                Show More
                                <span class="material-symbols-outlined">
                                    arrow_right_alt
                                    </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="product-content-first">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="product-main-first-content">
                        <img src="/images/product/product-4.jpg" alt="product-1" class="img-fluid">
                        <div class="product-inner-content col-lg-4 offset-lg-4">
                            <h1>
                               Our Luxurious Jackets
                            </h1>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam commodi quod id ipsam esse dolorum, voluptatum earum aut tempora, blanditiis culpa et suscipit? Sunt nemo minus voluptas! Magnam, quidem atque.
                            </p>
                            <a href="">
                                Show More
                                <span class="material-symbols-outlined">
                                    arrow_right_alt
                                    </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>