<% layout('layout/boilerplate') %> 
<%- include('../partial/navbar')  %> 
<section id="show-product">
    <div class="container g-0">
        <div class="row">
            <div class="col-md-4">
                <div class="product-details">
                    <div class="card-main">
                        <div class="card-img">
                            <img class="img-fluid" src="images/new-arrival/arrival-1.jpg" alt="product-img">
                        </div>
                        <div class="card-details">
                            <div class="product-name">
                                <p>
                                    <b>
                                        Leather Shoe
                                    </b>
                                </p>
                                <p>
                                    <b>
                                        Price: 200$
                                    </b>
                                </p>
                                <p>
                                   <b>User Experience:</b> Fully Comfortable
                                </p>
                                <p>
                                   <b>Review:</b> 4.5/5
                                </p>
                            </div>
                            <div class="product-button">
                                <a href="/product-view/">View Product</a>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="col-md-4">
                <div class="product-details">
                    <div class="card-main">
                        <div class="card-img">
                            <img class="img-fluid" src="images/new-arrival/arrival-1.jpg" alt="product-img">
                        </div>
                        <div class="card-details">
                            <div class="product-name">
                                <p>
                                    <b>
                                        Leather Shoe
                                    </b>
                                </p>
                                <p>
                                    <b>
                                        Price: 200$
                                    </b>
                                </p>
                                <p>
                                   <b>User Experience:</b> Fully Comfortable
                                </p>
                                <p>
                                   <b>Review:</b> 4.5/5
                                </p>
                            </div>
                            <div class="product-button">
                                <a href="/product-view/">View Product</a>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="col-md-4">
                <div class="product-details">
                    <div class="card-main">
                        <div class="card-img">
                            <img class="img-fluid" src="images/new-arrival/arrival-1.jpg" alt="product-img">
                        </div>
                        <div class="card-details">
                            <div class="product-name">
                                <p>
                                    <b>
                                        Leather Shoe
                                    </b>
                                </p>
                                <p>
                                    <b>
                                        Price: 200$
                                    </b>
                                </p>
                                <p>
                                   <b>User Experience:</b> Fully Comfortable
                                </p>
                                <p>
                                   <b>Review:</b> 4.5/5
                                </p>
                            </div>
                            <div class="product-button">
                                <a href="/product-view/">View Product</a>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
            
        </div>
        <hr class="d-none d-md-block">
        <div class="row">
            <div class="col-md-4">
                <div class="product-details">
                    <div class="card-main">
                        <div class="card-img">
                            <img class="img-fluid" src="images/new-arrival/arrival-1.jpg" alt="product-img">
                        </div>
                        <div class="card-details">
                            <div class="product-name">
                                <p>
                                    <b>
                                        Leather Shoe
                                    </b>
                                </p>
                                <p>
                                    <b>
                                        Price: 200$
                                    </b>
                                </p>
                                <p>
                                   <b>User Experience:</b> Fully Comfortable
                                </p>
                                <p>
                                   <b>Review:</b> 4.5/5
                                </p>
                            </div>
                            <div class="product-button">
                                <a href="/product-view/">View Product</a>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="col-md-4">
                <div class="product-details">
                    <div class="card-main">
                        <div class="card-img">
                            <img class="img-fluid" src="images/new-arrival/arrival-1.jpg" alt="product-img">
                        </div>
                        <div class="card-details">
                            <div class="product-name">
                                <p>
                                    <b>
                                        Leather Shoe
                                    </b>
                                </p>
                                <p>
                                    <b>
                                        Price: 200$
                                    </b>
                                </p>
                                <p>
                                   <b>User Experience:</b> Fully Comfortable
                                </p>
                                <p>
                                   <b>Review:</b> 4.5/5
                                </p>
                            </div>
                            <div class="product-button">
                                <a href="/product-view/">View Product</a>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="col-md-4">
                <div class="product-details">
                    <div class="card-main">
                        <div class="card-img">
                            <img class="img-fluid" src="images/new-arrival/arrival-1.jpg" alt="product-img">
                        </div>
                        <div class="card-details">
                            <div class="product-name">
                                <p>
                                    <b>
                                        Leather Shoe
                                    </b>
                                </p>
                                <p>
                                    <b>
                                        Price: 200$
                                    </b>
                                </p>
                                <p>
                                   <b>User Experience:</b> Fully Comfortable
                                </p>
                                <p>
                                   <b>Review:</b> 4.5/5
                                </p>
                            </div>
                            <div class="product-button">
                                <a href="/product-view/">View Product</a>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
            
        </div>
        <hr class="d-none d-md-block">
        <div class="row">
            <div class="col-md-4">
                <div class="product-details">
                    <div class="card-main">
                        <div class="card-img">
                            <img class="img-fluid" src="images/new-arrival/arrival-1.jpg" alt="product-img">
                        </div>
                        <div class="card-details">
                            <div class="product-name">
                                <p>
                                    <b>
                                        Leather Shoe
                                    </b>
                                </p>
                                <p>
                                    <b>
                                        Price: 200$
                                    </b>
                                </p>
                                <p>
                                   <b>User Experience:</b> Fully Comfortable
                                </p>
                                <p>
                                   <b>Review:</b> 4.5/5
                                </p>
                            </div>
                            <div class="product-button">
                                <a href="/product-view/">View Product</a>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="col-md-4">
                <div class="product-details">
                    <div class="card-main">
                        <div class="card-img">
                            <img class="img-fluid" src="images/new-arrival/arrival-1.jpg" alt="product-img">
                        </div>
                        <div class="card-details">
                            <div class="product-name">
                                <p>
                                    <b>
                                        Leather Shoe
                                    </b>
                                </p>
                                <p>
                                    <b>
                                        Price: 200$
                                    </b>
                                </p>
                                <p>
                                   <b>User Experience:</b> Fully Comfortable
                                </p>
                                <p>
                                   <b>Review:</b> 4.5/5
                                </p>
                            </div>
                            <div class="product-button">
                                <a href="/product-view/">View Product</a>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="col-md-4">
                <div class="product-details">
                    <div class="card-main">
                        <div class="card-img">
                            <img class="img-fluid" src="images/new-arrival/arrival-1.jpg" alt="product-img">
                        </div>
                        <div class="card-details">
                            <div class="product-name">
                                <p>
                                    <b>
                                        Leather Shoe
                                    </b>
                                </p>
                                <p>
                                    <b>
                                        Price: 200$
                                    </b>
                                </p>
                                <p>
                                   <b>User Experience:</b> Fully Comfortable
                                </p>
                                <p>
                                   <b>Review:</b> 4.5/5
                                </p>
                            </div>
                            <div class="product-button">
                                <a href="/product-view/">View Product</a>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
            
        </div>
    </div>
</section>