<% layout('layout/boilerplate.ejs') %> 
<%- include('../partial/navbar')  %> 
<section id="wishlist">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="wishlist-image">
                    <img class="img-fluid" src="/images/new-arrival/arrival-4.jpg" alt="wishlist-image">
                </div>
            </div>
            <div class="col-lg-8">
                <div class="wishlist-product">
                    <div class="product-name">
                        <p>
                            BASKET WITH run
                         </p>
                    </div>
                    <div class="product-price">
                        <p>
                                Price: 200$
                        </p>
                    </div>
                    <div class="product-action">
                        
                            <form class="view-from" action="">
                                <button><i class="fa-regular fa-eye"></i>
                                    View Product</button>
                            </form>
                            <form class="cart-from" action="">
                                <button>
                                    <i class="fa-solid fa-cart-shopping"></i>
                                    Add to cart</button>
                            </form>
                        
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-lg-4">
                <div class="wishlist-image">
                    <img class="img-fluid" src="/images/new-arrival/arrival-1.jpg" alt="wishlist-image">
                </div>
            </div>
            <div class="col-lg-8">
                <div class="wishlist-product">
                    <div class="product-name">
                        <p>
                            BASKET WITH run
                         </p>
                    </div>
                    <div class="product-price">
                        <p>
                                Price: 200$
                        </p>
                    </div>
                    <div class="product-action">
                        
                            <form class="view-from" action="">
                                <button><i class="fa-regular fa-eye"></i>
                                    View Product</button>
                            </form>
                            <form class="cart-from" action="">
                                <button>
                                    <i class="fa-solid fa-cart-shopping"></i>
                                    Add to cart</button>
                            </form>
                        
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-lg-4">
                <div class="wishlist-image">
                    <img class="img-fluid" src="/images/new-arrival/arrival-2.jpg" alt="wishlist-image">
                </div>
            </div>
            <div class="col-lg-8">
                <div class="wishlist-product">
                    <div class="product-name">
                        <p>
                            BASKET WITH run
                         </p>
                    </div>
                    <div class="product-price">
                        <p>
                                Price: 200$
                        </p>
                    </div>
                    <div class="product-action">
                        
                            <form class="view-from" action="">
                                <button><i class="fa-regular fa-eye"></i>
                                    View Product</button>
                            </form>
                            <form class="cart-from" action="">
                                <button>
                                    <i class="fa-solid fa-cart-shopping"></i>
                                    Add to cart</button>
                            </form>
                        
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-lg-4">
                <div class="wishlist-image">
                    <img class="img-fluid" src="/images/new-arrival/arrival-3.jpg" alt="wishlist-image">
                </div>
            </div>
            <div class="col-lg-8">
                <div class="wishlist-product">
                    <div class="product-name">
                        <p>
                            BASKET WITH run
                         </p>
                    </div>
                    <div class="product-price">
                        <p>
                                Price: 200$
                        </p>
                    </div>
                    <div class="product-action">
                        
                            <form class="view-from" action="">
                                <button><i class="fa-regular fa-eye"></i>
                                    View Product</button>
                            </form>
                            <form class="cart-from" action="">
                                <button>
                                    <i class="fa-solid fa-cart-shopping"></i>
                                    Add to cart</button>
                            </form>
                        
                    </div>
                </div>
            </div>
        </div>
        <hr>
    </div>
</section>